@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div class="list-group">
    @{
        if (_agendaItems == null)
        {
            <p>Loading agenda items...</p>
        }
        else if(_agendaItems.Count == 0)
        {
            <div class="card">
                <h5 class="card-body">No agenda items</h5>
            </div>
        }
        else
        {
            foreach (var agendaItem in _agendaItems)
            {
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@agendaItem.Name</h5>
                        <small>@agendaItem.Duration.Minutes.ToString() minutes</small>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(agendaItem.UserName))
                    {
                        <div>@agendaItem.Description</div>
                    }
                    <span class="badge badge-primary badge-pill float-right">@agendaItem.Order</span>
                    <small class="d-block mt-1">@agendaItem.UserName</small>
                </div>
            }
        }
    }

</div>